{% for username in allowed_ssh_users: %}
{% set user = admin_info[username] %}
## {{user.name}}{% if user.email is defined %} <{{user.email}}>{% endif %}

{% for key in user.ssh_keys: %}
{{key}}
{% endfor %}
{% if not loop.last %}

{% endif %}
{% endfor %}
