<?php
// This file is managed through kde-ansible

define("COMP_MODE", "COMP_MODE");

// Display names
$config[GUI_MODE]["mode_name"]="GUI statistics";
$config[DOC_MODE]["mode_name"]="Documentation statistics";
$config[COMP_MODE]["mode_name"]="Compendium";

// output directory (summaries)
$config[COMP_MODE]["outdir"]="{{ pooverview_dir }}";

$config["admin_email"]="{{ l10nsite_admin }}";

$config["debug"]={{ l10nsite_debug_level }};

// Statistic retention period
$config["cleanup_interval"]={{ l10nstats_cleanup_interval }};

$config["svn_local_dir"]="{{ l10ncheckout_dir }}";
$config["posieve_command"] = "{{ pology_dir }}/bin/posieve";

// db connection data
$config["sql_user"] = "{{ l10nsite_db_user }}";
$config["sql_pass"] = "{{ l10nsite_db_pass }}";
$config["sql_host"] = "{{ l10nsite_db_host|default('localhost') }}";
$config["sql_db"]   = "{{ l10nsite_db_name }}";

?>
