<?php

// Configuration file for l10n.kde.org
// This file is managed through kde-ansible

$config["mysql_user"] = "{{ l10nsite_db_user }}";
$config["mysql_password"] = "{{ l10nsite_db_pass }}";
$config["mysql_host"] = "{{ l10nsite_db_host|default('localhost') }}";
$config["mysql_database"] = "{{ l10nsite_db_name }}";

?>
