#!/bin/bash

# This script is managed through Ansible

function update_git() {
  local repodir=$1
  pushd ${repodir} >/dev/null
  git pull -q
  popd >/dev/null
}

svn update {{ l10nwebsite_dir }} | grep -v "At revision"  | grep -v "Updating"

update_git {{ capacity_dir }}
update_git {{ pology_dir }}
