{% if enable_ssl | default(False) | bool %}
<VirtualHost *:80>
{{ self.common() }}

{{ self.redirect() }}
</VirtualHost>

<VirtualHost *:443>
{{ self.common() }}

{{ self.main() }}

{{ self.ssl() }}
</VirtualHost>
{% else %}
<VirtualHost *:80>
{{ self.common() }}

{{ self.main() }}
</VirtualHost>
{% endif %}

{%- block extra %}{% endblock %}
